
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #264653;
    color:white;
}
.link-text
{
    color:white;
}
.header-text p{
    font-weight: 300px;
    color: #E0E0E0;
}
.but
{
    width: 100px;
    height:35px;
    background-color: #e76f51;
    border:none;
    color:white;
}
button{
    width: 160px;
    height:44px;
    background-color: #e76f51;
    border:none;
    
    
}
.bike img{
    width: 75%;
}
.bike1 img{
    filter:grayscale(100%);
    width: 75%;
}
.image-round
{
    border-radius: 70px;
    height: 100px;
}
.card img
{
   width:60%;
   height:200px;
   margin-top: 40px;
  

}
.client p,h5
{
    text-align: center;
}
.card{
    font-size: 16px;
}
.fas,.far
{
    color: #eea57c;
}
.question
{
    font-weight: 600;
   font-size: 15px;
}
.answer
{
    color: #7E848C;
    font-size: 16px;
}
.about-us{
    width:300px;
    height:150px;
    
}
.contact-us
{
    background-color: black;
}
.contact-text
{
    color: white;
}
.fas,.fab
{
    color:white;
}
input
{
    width:90%;
    height:50px;
}
textarea
{
    width:90%; 
}
